.main-content{
    width: 980px;
}

.m-center{
    margin: 0 auto;
}

.t-center{
    text-align: center;
}

.top{
    height: 120px;
}
.logo{
    background-image: url("images/logo.jpg");
    width: 110px;
    height: 100px;
    margin-left: 60px;
}

.phone{
    position: relative;
    color: #00a651;
    font-size: 25px;
    top: 21px;
    left: 27px;
    letter-spacing: 3px;
}

.menu{
    position: relative;
    top: -55px;
    left: 155px;
}


a{
    text-decoration: none;
    margin-right: 27px;
    color: #3d3c3f;
    font-size: 1.3em;
}
a, h2, h3, .form-text-g, .form-text-o, .phone{
    font-family: bebas-reg;
}

a:hover{
    color: #00a651;
    border-bottom: 5px solid #00a651;
}

.header-menu{
    height: 100px;
}


.h1-jumbotron{
    height: 860px;
}
h1{
    font-size: 4em;
    font-family: bebas-lig, arial, verdana;
    letter-spacing: 7px;
    color: #3d3c3f;
    margin: 0;
}

h1, .sp, .form-text-g, .form-text-o {
    text-transform: uppercase;
}

h2,h3{
    letter-spacing: 3px;
    color: #3d3c3f;
    font-size: 34px;
}

.two-in-row div {
    width: 49%;
    margin-top: 20px;
}

.two-in-row div:nth-child(1){
    left: 190px;
    position: relative;;
}

.sp{
    top: -15px;
    left: 13px;
    position: relative;
    font-family: bebas-lig;
    font-size: 21px;
    color: #44bd7f;
    font-weight: bold;
}
.span01::before{
    content: url("images/crys.jpg");
    position: relative;
    top: -5px;
    left: 10px;
}

.span02::before{
    content: url("images/hands.jpg");
}

.jumbotron{
    background-image: url("images/jumbotron-bg.jpg");
    height: 477px;
}

.form{
    top: 36px;
    left: 34px;
    position: relative;
    width: 280px;
    height: 410px;
    background-color: #fff;
}

.form-text-g, .form-text-o{
    font-size: 40px;
    line-height: 24px;
    margin: 10px 10px auto 20px;
    position: relative;
    top: 20px;
}

.form-text-g{
    color: #00a551;
}
.form-text-o{
    color: #e75700;
}

.form div{
    margin: 40px 10px auto 25px;
}
.form div span{
    font-size: 14px;
    font-weight: bold;
}

input{
    margin-bottom: 20px;
    margin-top: 2px;

}
/*input height, width*/
input[type="text"]{
    padding: 5px 0;
    line-height: 20px;
}

input[type="submit"] {
    padding: 15px 30px;
    background:#e45100;
    color: #f9dcca;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    margin: 20px 40px;
}



.clear-fix{
    clear: both;
}
.f-left,.logo, .grey-block-item div, .grey-block-item img{
    float: left;
}
.f-right{
    float: right;
}

.three-in-row{
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
.row-inner{
    font-size: 0.9em;
    line-height: 21px;

}
.row-inner li{
    color: #3d3c3f;
}

.row-inner ul{
    padding-left: 13px;
}



.row-inner li:before{
    content: '- ';
}
.row-inner .no-dash:before{
    content: "";

}
/*.row-inner, */.menu li, .two-in-row div, .item, .text-list{
    display: inline-block;
}

.path, .two-in-row, .h2-block, .grey-block{
    margin-left: 40px;
}
.two-in-row, .path, .jumbotron, .h2-block, .grey-block{
    width: 900px;
}

.list{
    background-color: #77aee3;
    height: 192px;
    padding-top: 20px;
}

.item{
    margin-right: 3px;
}

.item img{
    margin-right: 10px;
}

.item::before{
    content: url("images/list01.1.jpg");
}
.item:first-child::before{
    content: '';
}
.text-list{
    margin: -10px 42px 0px 41px;
    color: #ffffff;
}

li{
    list-style-type: none;
    text-align: left;
}

.grey-block{
    /*height: 455px;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    background: #cccccc;
    /*padding: 20px;*/

}
.grey-block-item{
    width: 47%;
    margin-top: 10px;
    margin-left: 20px;

}


.h3-block div{
    width: 510px;

}

.btn-bottom {
    display: flex;
    justify-content: center;
}


/*------------------------------------------------------------------------*/
@-moz-document url-prefix() {
    h1{
        letter-spacing: 6px;

    }

    input[type="text"]{
        padding: 5px 10px;
        line-height: 20px;
    }

}
/*------------------------------------------------------------------------*/

@font-face {
    font-family: bebas-book;
    src: url("bebas/BebasNeue Book.otf");
}

@font-face {
    font-family: bebas-reg;
    src: url("bebas/BebasNeue Regular.otf");
}

@font-face {
    font-family: 'bebas-lig';
    src: url('bebas/eot/bebasneue_light-webfont.eot?79729309');
    font-weight: normal;
    font-style: normal;
    src: url("bebas/BebasNeue Light.otf") format('opentype'),
    url("bebas/TTFs/BebasNeue Light.ttf") format('truetype'),
    url("bebas/eot/bebasneue_light-webfont.eot?79729309#iefix") format('embedded-opentype');
}
/*------------------------------------------------------------------------*/
/*
@media only screen and (-webkit-min-device-pixel-ratio: 1) {
    ::i-block-chrome, .yourcssrule {
        your css property
    }
}*/
/*------------------------------------------------------------------------*/
